/* CSS is my doom. */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Press+Start+2P&display=swap');

:root {
  font-family: 'Jua';
  line-height: 1.5;
  color-scheme: light dark;
  color: #ffdcf7;
  background-color: #4a3f44;
  font-synthesis: inherit;
  text-rendering: optimizeLegibility;
}

html {
	cursor: url("bunni.png"), auto !important;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

::selection {
  background-color: #ffdcf7;
  color: #4a3f44;
}

h1 {
  text-align: center;
  font-size: 3.4em;
  line-height: 1.1;
  margin: 20px;
}

img {
  width: 300px;
  border-radius: 100%;
}

hr {
  border-style: none;
  border-top: dotted #5c5156;
  border-width: 20px;
  width: 350px;
	margin-bottom: 35px;
}

.button-container {
  display: flex;
}

.button {
	border-radius: 100px; /* Don't ask why this is 100px qwq*/
	border: 1px solid transparent;
	padding: .6em 1.2em;
	font-size: 1.5em;
	font-family: inherit;
	color: #ffdcf7;
	background-color: #383034;
	cursor: default !important;
	transition: border-color .25s;
	outline: none!important;
	margin-right: 10px;
}

button:hover {
	border-color: #ffdcf7;
	cursor: default !important;
	cursor: default;
}

button:active {
	color: #383034;
	background-color: #ffdcf7;
	transition: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position:absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}